<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
    h2, form, div, title {
        text-align:center;
    }
    </style>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title class="text-center">The Dream Team's Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body style="background-color:blanchedalmond;">
    <div style="background-color:blue; color: white">
      <h1>WELCOME TO YOUR WILDEST DREAMS</h1>
</div>
<div style="background-color:grey; color: black">
  <h2>Add an exciting event!</h2>
    <form action="/event" method="post">
       title: <center><input name="title" type="text" /></center> <br />
       description: <center><input name="description" type="text" /></center> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
  {{{body}}}
</body>
</html>
