<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            table, th, td {
                border:1px solid black;
                width:300px;
                text-align:center; 
            }
            p, h1 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Published Events</h1>
        <table style="margin-left:auto;margin-right:auto;">
            {{#events}}
            <tr>
                <th>
                    {{ title }}
                </th>
                <td>
                    {{ description }}
                </td>
            </tr>
            {{/events}}
        </table>
        <p>Thank you for posting your events!</p>
    </body>
</html>